{% extends 'base.html.twig' %}

{% block content %}
    <div class="starter-template">
        <h1>Simple map</h1>
    </div>

    <div class="row">
        <div id="map"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        document.addEventListener('DOMContentLoaded', function(){
            initMap();
        });
    </script>
{% endblock %}