{% extends 'base.html.twig' %}

{% block content %}
    <div class="starter-template">
        <h1>Simple map</h1>
    </div>

    <div class="row">
        <div id="map"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        "use strict";

        let map;

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: {
                    lat: {{ initLat }},
                    lng: {{ initLng }},
                },
                zoom: {{ initZoom }}
            });
        }
    </script>
{% endblock %}