{% extends 'base.html.twig' %}

{% block content %}
    <div class="starter-template">
        <h1>Markers</h1>
    </div>

    <div class="row">
        <div id="map"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var data = [
            {
                name: 'Санкт-Петербург',
                description: 'Наб. реки Смоленки, 5-7',
                lat: 59.948940,
                lon: 30.261825,
            },
            {
                name: 'Москва',
                description: 'Студенческая ул., 15',
                lat: 55.742730,
                lon: 37.551128,
            },
            {
                name: 'Самара',
                description: 'ул. Скляренко, 26',
                lat: 53.216539,
                lon: 50.160825,
            },
            {
                name: 'Омск',
                description: 'ул. Лермонтова, 63',
                lat: 54.982917,
                lon: 73.396128,
            },
        ];

        document.addEventListener('DOMContentLoaded', function(){
            var map = new google.maps.Map(document.getElementById("map"), {
                center: {
                    lat: {{ initLat }},
                    lng: {{ initLng }},
                },
                zoom: {{ initZoom }}
            });

            for(var i = 0; i < data.length; i++) {
                var item = data[i];
                var marker = new google.maps.Marker({
                    position: {lat: item.lat, lng: item.lon},
                    map: map,
                    icon: getMarkerIcon(),
                    id: i
                });

                marker.addListener('click', function() {
                    var marker = this;

                    // center map to marker
                    var objPoint = new google.maps.LatLng(
                        marker.position.lat(),
                        marker.position.lng()
                    );

                    map.setZoom(11);
                    map.setCenter(objPoint);

                    var item = data[marker.id];
                    var contentString = '<div class="map__window" style="color: #000"><div class="map__window-title">' + item.name + '</div><p class="map__window-description">' + item.description + '</p></div>';

                    infoWindow = new google.maps.InfoWindow({
                        content: contentString
                    });

                    infoWindow.open(map, marker);
                });
            }
        });
    </script>
{% endblock %}