{% extends 'base.html.twig' %}

{% block content %}
    <div class="starter-template">
        <h1>Markers</h1>
    </div>

    <div class="row">
        <div id="map"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="/assets/js/map-markers.js"></script>
    <script>
        var data = [
            {
                name: 'Санкт-Петербург',
                description: 'Наб. реки Смоленки, 5-7,<br> Технопарк, оф. 337,<br> +7 812 309 50 32',
                lat: 59.948940,
                lon: 30.261825,
            },
            {
                name: 'Москва',
                description: 'Студенческая ул., 15,<br> +7 495 108 11 78',
                lat: 55.742730,
                lon: 37.551128,
            },
            {
                name: 'Самара',
                description: 'ул. Скляренко, 26,<br> +7 999 170 89 61',
                lat: 53.216539,
                lon: 50.160825,
            },
            {
                name: 'Омск',
                description: 'ул. Лермонтова, 63,<br> +7 981 169 37 17',
                lat: 54.982917,
                lon: 73.396128,
            },
        ];

        document.addEventListener('DOMContentLoaded', function(){
            var map = initMap();
            initMarkers(map, data);
        });
    </script>
{% endblock %}